# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# ROS Warehouse databases
lwr_moveit/default_warehouse_mongo_db
lwr_moveit/default_warehouse_mongo_db/local.*
lwr_moveit/default_warehouse_mongo_db/mongod.lock
lwr_moveit/default_warehouse_mongo_db/journal/prealloc.*
