<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Transmission Macro -->
  <xacro:macro name="simple_transmission" params="name joint">
	<transmission name="${name}_${joint}_trans" type="transmission_interface/SimpleTransmission">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="${name}_${joint}_joint">
			<hardwareInterface>EffortJointInterface</hardwareInterface>
		</joint>
		<actuator name="${name}_${joint}_motor">
			<hardwareInterface>EffortJointInterface</hardwareInterface>
			<mechanicalReduction>1</mechanicalReduction>
		</actuator>
		<mechanicalReduction>1</mechanicalReduction>
	</transmission>
  </xacro:macro>
  
  
    <xacro:macro name="kuka_lwr_transmission" params="name">

		<simple_transmission name ="${name}" joint="0" />
		<simple_transmission name ="${name}" joint="1" />
<!--
		<simple_transmission name ="${name}" joint="2" />
-->
		<simple_transmission name ="${name}" joint="3" />
		<simple_transmission name ="${name}" joint="4" />
		<simple_transmission name ="${name}" joint="5" />
		<simple_transmission name ="${name}" joint="6" />

	</xacro:macro>

</robot>
